html {
    font-family: 'Noto Sans', sans-serif;
    background: #F7F6F3;
    padding: 1rem;
  }
  
  body {
    max-width: 960px;
    margin: 0 auto;
    background: #FFFDF9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-family: 'Playfair Display', serif;
    color: #BF7300;
    margin: 1.5rem 0;
    text-align: center;
  }
  
  a {
    color: #1866C9;
  }
  
  hr {
    border: none;
    border-top: 1px solid #DDD;
  }
  
  nav {
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    color: #BF7300;
    font-weight: bold;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li a,
  nav ul li span,
  header .action {
    display: block;
    padding: 0 1rem;
    font-weight: bold;
    color: #666;
  }
  
  nav ul li a:hover {
    background: #EEE;
    color: #000;
  }
  
  .content {
    padding: 1rem;
  }
  
  .content > header {
    border-bottom: 1px solid #DDD;
    display: flex;
    align-items: center;
  }
  
  .content > header h1 {
    flex: auto;
    margin: 0;
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
  }
  
  .flash {
    margin: 1rem 0;
    padding: 1rem;
    background: #C1EBF5;
    border: 1px solid #1866C9;
    border-radius: 5px;
  }
  
  .post > header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
    margin-bottom: 1rem;
  }
  
  .post > header > div:first-of-type {
    flex: auto;
  }
  
  .post > header h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: bold;
  }
  
  .post .about {
    color: #666;
    font-style: italic;
    margin-left: 1rem;
    font-size: 0.85rem;
  }
  
  .post .body {
    white-space: pre-line;
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 1.5rem 0;
  }
  
  .content:last-child {
    margin-bottom: 0;
  }
  
  .content form {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
  }
  
  .content label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #333;
  }
  
  .content input,
  .content textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #DDD;
    background: #FFF;
    outline: none;
    font-size: 1.1rem;
  }
  
  .content textarea {
    min-height: 10em;
    resize: vertical;
  }
  
  input[type=submit] {
    align-self: center;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    border: none;
    background: #BF7300;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  input[type=submit]:hover {
    background: #FF9900;
  }